@import url("https://fonts.googleapis.com/css2?family=Medula+One&display=swap");

.login-main {
  display: flex;
  width: 100vw;
  flex-direction: column; /* 수직 정렬 */
  height: 100vh;
  background: #f0f2f5; /* 현대적인 밝은 회색 배경 */
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.login-container {
  display: flex;
  width: 400px; /* 더 컴팩트한 너비 */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff; /* 흰색 배경 */
  padding: 2rem;
  border-radius: 10px; /* 둥근 모서리 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  margin-bottom: 2rem; /* 이미지와의 간격 */
}


.login-text {
  font-family: "Roboto", sans-serif;
  font-size: 2rem; /* 크기를 적당하게 조절 */
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.login-text img {
  height: 40px; /* 이미지 높이 조절 */
  margin-right: 10px;
}

.login-orange {
  color: #ff8b36;
}

.login-black {
  color: #333;
}

.login-button {
  display: flex;
  justify-content: space-between;
  gap: 0px; /* 버튼 사이의 간격 조절 */
  width: 100%;
}

.login-button-text {
  display: inline-block;
  padding: 1em 2em;
  margin-top: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(90deg, #36a2ff, #0056ff);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, transform 0.3s;
}


.ModalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ModalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
}

.images-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* 이미지 사이 간격 */
}

.login-image {
  width: 164px; /* 이미지 너비 조절 */
  height: 51px; /* 이미지 높이 조절 */
  border-radius: 0; /* 경계 없애기 */
  box-shadow: none; /* 그림자 효과 제거 */
  object-fit: cover; /* 이미지를 컨테이너에 맞게 조절 */
}

.images-vertical-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left-image {
  left: 0;
  margin-left: 50px;
}

.right-image {
  right: 0;
  margin-right: 50px;
}

.images-vertical-container img {
  display: block;
  margin: 20px 0;
  width: 500px; /* 필요한 경우 너비 조정 */
  height: auto;
}